
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %} NumPilProject {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% block stylesheets %}
        <link href="{{ asset('bundles/main/css/bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}
    <style>/* Move down content because we have a fixed navbar that is 50px tall */
        body
        {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NumPilProject</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if app.user %}
            <div class="navbar-form navbar-right">
                <span style="color:white;">Connecté en tant que {{ app.user.username }}</span>
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">Déconnexion</a>
            </div>
            {% endif %}
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        {% block body %}{% endblock %}
    </div>

    <hr>

    <footer>
        <p>&copy; Company 2015</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascripts %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ asset('bundles/main/js/bootstrap.min.js') }}"></script>

</body>
</html>
